.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
}

.image {
    width: 50%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
}

.image-container:hover.image:first-child {
    transform: translateX(-100%);
}

.image-container:hover.image:last-child {
    transform: translateX(100%);
}